<div>
  {{#each galleries}}
  <div class="galleryBlock">
    <h2 class="eventName">{{eventName}}</h2>
    <p class="description">{{description}}</p>
    <div class="photos">
      {{#each photos}}
      <img src={{photo}} alt="{{photo}}" class="galleryPhoto"> {{/each}} {{!-- {{>galleryPhotos}} --}}
    </div>
  </div>
  {{/each}}
</div>

{{!--
<div>
  {{#each books}}
  <div class='book'>
    <p>{{title}}</p>
    <p>{{author}}</p>
  </div>
  {{/each}} {{name}}
</div>
--}}