<div class="content">

  <div class="issue">
    <div class="issueHeader">
      <h2 class="issueTitle">{{issue}}</h2>
      <p class="description">{{{description}}}</p>
    </div>
    <div class="list">
      <h3 class="listTitle">{{listTitle}}</h3>
      {{#each listItems}}
      <div class="listItem">
        <p class="itemTitle">{{itemTitle}}</p>
        {{#each projects}}
          <p class="itemDescription">{{itemDescription}}</p>
          <p class="itemEnd">{{itemEnd}}</p>        
        {{/each}}
      </div>
      {{/each}}
    </div>
  </div>
</div>